.resources-popup-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
	background: radial-gradient(
		circle,
		rgba(0, 0, 0, 0.8) 60%,
		rgba(0, 0, 0, 0.95) 100%
	);
	animation: fadeIn 0.4s ease-out;

	&.fade-in {
		animation: fadeIn 0.4s ease-out;
	}
}

.resources-popup {
	background: radial-gradient(
		circle,
		rgba(36, 0, 54, 0.95) 20%,
		rgba(0, 0, 0, 0.95) 100%
	);
	padding: 30px;
	border: 1px solid #001c31;
	border-radius: 10px;
	width: 90%;
	max-width: 800px;
	max-height: 85vh;
	overflow-y: auto;
	animation: scaleUp 0.3s ease-out;
	position: relative;

	.close-btn {
		position: absolute;
		top: 10px;
		right: 10px;
		background: transparent;
		border: none;
		font-size: 24px;
		color: #fff;
		cursor: pointer;
	}

	.resources-list {
		h3 {
			margin-bottom: 20px;
			text-align: left;
			color: #fff;
		}

		.resources-horizontal-list {
			display: flex;
			flex-direction: column;
			gap: 20px;
		}

		.resource-card {
			display: flex;
			align-items: center;
			background: rgba(255, 255, 255, 0.1); /* Semi-transparent white */
			backdrop-filter: blur(10px); /* Blur effect */
			border: 1px solid rgba(255, 255, 255, 0.2); /* Light border for better visibility */
			border-radius: 50px; /* Rounded corners */
			padding: 15px 20px;
			transition: transform 0.3s, box-shadow 0.3s;
			gap: 20px;

			@media (max-width: 768px) {
				flex-direction: column;
				text-align: center;
			}

			&:hover {
				transform: translateY(-5px);
				box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25); /* Add shadow on hover */
			}

			.resource-image {
				flex: 0 0 auto;
				width: 60px;
				height: 60px;
				border-radius: 50%;
				overflow: hidden;

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}

			.resource-info {
				flex: 1;
				display: flex;
				flex-direction: column;
				justify-content: center;

				h4 {
					color: #fff;
					margin-bottom: 5px;
					font-size: 18px;
				}

				p {
					font-size: 14px;
					color: #aaa;
				}
			}

			.resource-action {
				flex: 0 0 auto;

				.view-details-btn {
					background: linear-gradient(to right, #ffffff, #ffd2f5);
					color: #000000;
					padding: 10px 20px;
					border: none;
					border-radius: 30px;
					cursor: pointer;
					font-size: 14px;
					font-weight: bold;

					&:hover {
						background: linear-gradient(to right, #160038, #2d0900);
						color: #fff;
						border: 1px solid rgb(119, 119, 119);
					}
				}
			}
		}

		.resource-action {
			margin-top: 20px;
			text-align: center;

			.view-all-resources-btn {
				background: linear-gradient(to right, #ffffff, #ffd2f5);
				color: #000000;
				padding: 10px 20px;
				border: none;
				border-radius: 30px;
				cursor: pointer;
				font-size: 16px;
				font-weight: bold;
				width: 100%; /* Ensures the button spans the width for emphasis */

				&:hover {
					background: linear-gradient(to right, #160038, #2d0900);
					color: #fff;
					border: 1px solid rgb(119, 119, 119);
				}
			}
		}
	}
}

/* Fade-in animation */
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/* Scale-up animation */
@keyframes scaleUp {
	from {
		transform: scale(0.9);
		opacity: 0.8;
	}
	to {
		transform: scale(1);
		opacity: 1;
	}
}

.resource-links {
	text-align: center;

	h3 {
		color: #fff;
		margin-bottom: 20px;
	}

	.download-link {
		color: #ffd2f5;
		text-decoration: none;
		margin-bottom: 10px;
		display: block;

		&:hover {
			text-decoration: underline;
		}
	}

	button {
		background: linear-gradient(to right, #ffffff, #ffd2f5);
		color: #000000;
		padding: 10px 20px;
		border: none;
		border-radius: 30px;
		cursor: pointer;
		font-size: 16px;
		font-weight: bold;

		&:hover {
			background: linear-gradient(to right, #160038, #2d0900);
			color: #fff;
		}
	}
}

.resources-popup {
	@media (max-width: 768px) {
		&::-webkit-scrollbar {
			display: none;
		}
		-ms-overflow-style: none; // For Internet Explorer and Edge
		scrollbar-width: none; // For Firefox
	}
}
