.public-routes-container {
	height: 100dvh;
	width: 100dvw;

	.public-routes-main-container {
		display: flex;
		height: calc(100dvh - 80px);
		width: 100dvw;
		background: #000000;

		.public-routes-main {
			width: 100%;
			height: 100%;
			overflow: hidden;

			&::-webkit-scrollbar {
				display: none;
			}
		}
	}
}
