:root {
	--bg-color: #f5f5f5;
	--text-color: #333333;
	--text-color-secondary: #848587;
	--accent-color: #fd5901;
	--background-color: #f5f5f5;
	--background-color-secondary: #37344433;
	--background-btn: rgba(52, 55, 68, 0.2);
}

.dark-theme {
	--bg-color: #1e1e1e;
	--text-color: #ffffff;
	--text-color-secondary: #9ca3af;
	--accent-color: #fd5901;
	--background-color: #1e1e1e;
	--background-color-secondary: rgba(6, 6, 6, 0.2);
	--background-btn: rgb(30, 30, 30);
}

.public-sidebar {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 60px;
	background-color: var(--background-color);
	color: var(--text-color);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	padding: 80px 0 20px;
	transition: width 0.3s ease;
	z-index: 100;
}

.public-sidebar.expanded {
	width: 200px;
}

.public-sidebar-content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
}

.public-sidebar-item {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	// width: 100%;
	padding: 10px 20px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

// .public-sidebar-item:hover {
// 	background-color: var(--background-color-secondary);
// }

// .public-sidebar-item.active {
// 	background-color: var(--background-color-secondary);
// }

.public-sidebar-item:hover .public-sidebar-icon {
	color: var(--accent-color);
}

.public-sidebar-icon {
	font-size: 20px;
	margin-right: 10px;
	transition: color 0.3s ease;
}

.public-sidebar-label {
	font-size: 14px;
	color: var(--text-color);
}

.public-sidebar-submenu {
	margin-left: 20px;
	width: 100%;
}

// :root {
// 	--bg-color: #ffffff;
// 	--text-color: #333333;
// 	--text-color-secondary: #848587;
// 	--accent-color: #fd5901;
// 	--background-color: #fff;
// 	--background-color-secondary: #37344433;
// 	--background-btn: rgba(52, 55, 68, 0.2);
// }

// .dark-theme {
// 	--bg-color: #1e1f24;
// 	--text-color: #ffffff;
// 	--text-color-secondary: #9ca3af;
// 	--accent-color: #fd5901;
// 	--background-color: #1e1f24;
// 	--background-color-secondary: rgba(6, 6, 6, 0.2);
// 	--background-btn: rgb(30, 30, 30);
// }

// .public-sidebar {
// 	position: fixed;
// 	top: 80px;
// 	left: 0;
// 	height: 100%;
// 	width: 60px;
// 	background-color: var(--bg-color);
// 	color: var(--text-color);
// 	display: flex;
// 	flex-direction: column;
// 	align-items: center;
// 	justify-content: flex-start;
// 	padding: 20px 0;
// 	transition: width 0.3s ease;
// 	z-index: 100;
// }

// .public-sidebar.expanded {
// 	width: 200px;
// }

// .public-sidebar-content {
// 	display: flex;
// 	flex-direction: column;
// 	align-items: flex-start;
// 	width: 100%;
// }

// .public-sidebar-item {
// 	display: flex;
// 	align-items: center;
// 	justify-content: flex-start;
// 	width: 100%;
// 	padding: 10px 20px;
// 	cursor: pointer;
// 	transition: background-color 0.3s ease;
// }

// // .public-sidebar-item:hover {
// // 	background-color: var(--background-color-secondary);
// // }

// // .public-sidebar-item.active {
// // 	background-color: var(--background-color-secondary);
// // }

// .public-sidebar-item:hover .public-sidebar-icon {
// 	color: var(--accent-color);
// }

// .public-sidebar-icon {
// 	font-size: 20px;
// 	margin-right: 10px;
// 	transition: color 0.3s ease;
// }

// .public-sidebar-label {
// 	font-size: 14px;
// 	color: var(--text-color);
// }

// .public-sidebar-submenu {
// 	// margin-left: 20px;
// 	// width: 100%;
// }

// .public-sidebar-submenu .public-sidebar-item {
// 	padding: 10px 20px 10px 40px;
// }
