.process-new-container {
	background-color: #050505;
	width: 100dvw;
	padding: 2rem 2rem;
	h1 {
		font-family: Outfit;
		font-size: 54px;
		font-weight: 600;
		line-height: 58px;
		letter-spacing: -0.015em;
		text-align: left;
		text-underline-position: from-font;
		text-decoration-skip-ink: none;
		color: #ffffff;
	}

	.process-new-content {
		display: flex;
		flex-direction: column;
		gap: 2.5rem;
		justify-content: center;
		width: 100%;
		margin-top: 2rem;
		margin-left: 3rem;
		padding-left: 1.5rem;

		@media (max-width: 820px) {
			margin-left: 0;
			gap: 1.5rem;
		}

		@media (max-width: 460px) {
			margin-left: 0;
			gap: 1.5rem;
		}

		background-image: linear-gradient(
				to bottom,
				rgba(255, 200, 100, 1) 20%,
				transparent 20%
			),
			linear-gradient(
				to bottom,
				transparent 0%,
				transparent 20%,
				rgba(255, 200, 100, 0.7) 20%,
				rgba(255, 200, 100, 0.7) 65%,
				transparent 65%
			);
		background-position: left top, left top;
		background-size: 2.5px 100%, 2px 25px;
		background-repeat: no-repeat, repeat-y;
		// // filter: drop-shadow(0 0 4px rgba(255, 200, 100, 0.5));

		// position: relative;
		// display: flex;
		// flex-direction: column;
		// gap: 2.5rem;
		// justify-content: center;
		// width: 100%;
		// margin-top: 2rem;
		// margin-left: 3rem;
		// padding-left: 1.5rem;
		// background-image:
		// radial-gradient(
		// 		circle at center,
		// 		rgba(255, 200, 100, 1) 50%,
		// 		transparent 50%
		// 	),
		// 	linear-gradient(
		// 		to bottom,
		// 		rgba(255, 200, 100, 1) calc(20% - 4px),
		// 		transparent calc(20% - 4px)
		// 	),
		// 	linear-gradient(
		// 		to bottom,
		// 		transparent 0%,
		// 		transparent 20%,
		// 		rgba(255, 200, 100, 0.7) 20%,
		// 		rgba(255, 200, 100, 0.7) 65%,
		// 		transparent 65%
		// 	);
		// background-position: calc(-1%) calc(20% - 10px), left top, left top;
		// background-size: 20px 20px, 2.5px 100%, 2px 25px;
		// background-repeat: no-repeat, no-repeat, repeat-y;

		// ::after {
		// 	content: "";
		// 	position: absolute;
		// 	left: 1.5rem;
		// 	top: 0;
		// 	width: 2.5px;
		// 	height: 100%;
		// 	background: inherit;
		// 	background-position: inherit;
		// 	background-size: inherit;
		// 	background-repeat: inherit;
		// 	filter: drop-shadow(0 0 4px rgba(255, 200, 100, 0.5));
		// 	pointer-events: none;
		// 	z-index: -1;
		// }

		.process-new-steps {
			display: flex;
			gap: 1.5rem;
			align-items: start;
			// justify-content: center;
			@media (max-width: 820px) {
				flex-direction: column;
				gap: 1rem;
			}

			@media (max-width: 460px) {
				flex-direction: column;
				gap: 0.75rem;
			}

			.process-new-step {
				width: 111px;
				.step {
					background-color: transparent;
					color: #fd5901;
					padding: 7px 15px;
					border: 2px solid rgba(255, 139, 77, 0.8509803922);
					border-radius: 30px;
					text-decoration: none;
					// margin-right: 40px;
					// margin-bottom: 10px;
					display: inline-block;
					font-family: Nunito;
					font-size: 20px;
					font-weight: 700;
					line-height: 20px;
					letter-spacing: -0.015em;
					text-align: left;
				}
			}

			.process-new-body {
				display: flex;
				flex-direction: column;
				gap: 2rem;
				justify-content: center;
				width: 50%;

				@media (max-width: 820px) {
					width: 100%;
					gap: 1rem;
				}

				@media (max-width: 460px) {
					gap: 0.75rem;
					width: 100%;
				}

				h2 {
					color: #ffcda1;
					font-family: Outfit;
					font-size: 36px;
					font-weight: 700;
					line-height: 45.36px;
					text-align: left;
					text-underline-position: from-font;
					text-decoration-skip-ink: none;

					@media (max-width: 460px) {
						font-size: 24px;
						line-height: 30px;
					}
				}
				p {
					color: #ffffff;
					font-family: Outfit;
					font-size: 18px;
					font-weight: 400;
					line-height: 33px;
					text-align: left;
					text-underline-position: from-font;
					text-decoration-skip-ink: none;
				}
			}

			.process-new-images {
				width: 30%;

				@media (max-width: 820px) {
					width: 80%;
				}

				@media (max-width: 460px) {
					width: 100%;
				}

				.step5img {
					width: 250px;
					height: auto;
				}
			}
		}
	}

	.process-new-content-2 {
		display: flex;
		flex-direction: column;
		gap: 3rem;
		justify-content: center;
		width: 100%;
		margin-top: 2rem;

		.process-new-finally {
			display: flex;
			gap: 1.5rem;
			@media (max-width: 460px) {
				flex-direction: column;
				justify-content: center;
				align-items: center;
			}

			.finally-img-container {
				// width: 215px;
				// height: 215px;

				border-radius: 50%;
				background: #ff973e29;
				display: flex;
				justify-content: center;
				align-items: center;

				@media (max-width: 820px) {
					width: 150px !important;
					height: 150px;
				}

				.finally-img {
					width: 150px;
					height: 150px;
					max-width: fit-content;
					img {
						width: 100%;
						height: 100%;
					}
				}
			}

			.process-new-finally-content {
				display: flex;
				flex-direction: column;
				gap: 1rem;

				@media (max-width: 460px) {
					justify-content: center;
					align-items: center;
					text-align: center;
				}

				h3 {
					font-family: Outfit;
					font-size: 54px;
					font-weight: 600;
					line-height: 58px;
					letter-spacing: -0.015em;
					text-align: left;
					text-underline-position: from-font;
					text-decoration-skip-ink: none;
					color: #ff973e;
				}

				p {
					font-family: Outfit;
					font-size: 24px;
					font-weight: 500;
					line-height: 40px;
					text-align: left;
					text-underline-position: from-font;
					text-decoration-skip-ink: none;
					color: #ffffffcc;

					@media (max-width: 460px) {
						font-size: 18px;
						line-height: 30px;
						text-align: center;
					}
				}
			}
		}

		.process-new-finally-cards {
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 1.5rem;
			width: 100%;

			@media (max-width: 820px) {
				flex-direction: column;
			}

			@media (max-width: 460px) {
				flex-direction: column;
			}

			.process-new-finally-card {
				display: flex;
				flex-direction: column;
				gap: 1rem;
				width: 20%;

				padding: 1.5rem;
				text-align: left;
				width: 28%;
				position: relative;
				background: linear-gradient(
					128.25deg,
					#0e0c15 1.49%,
					rgba(14, 12, 21, 0) 103.04%
				);
				z-index: 1;
				backdrop-filter: blur(2px);
				border-radius: 30px;
				// border-top-right-radius: 90px;

				@media (max-width: 820px) {
					width: 80%;
					padding: 30px;
				}
				@media (max-width: 460px) {
					width: 100%;
					padding: 30px;
				}

				&:before {
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					border-radius: 30px;
					// border-top-right-radius: 90px;
					padding: 1.5px; /* Adjust the thickness here */
					background: linear-gradient(
						87.95deg,
						rgba(253, 89, 1, 0.66) -15.78%,
						rgba(254, 224, 255, 0.66) 102.06%
					);
					-webkit-mask: linear-gradient(#fff 0 0) content-box,
						linear-gradient(#fff 0 0);
					mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
					-webkit-mask-composite: destination-out;
					mask-composite: exclude;
					z-index: -1;
				}

				.process-new-finally-card-top {
					display: flex;
					align-items: center;
					gap: 1rem;

					img {
						width: 40px;
						height: 40px;
					}

					h3 {
						font-family: Outfit;
						font-size: 25.41px;
						font-weight: 600;
						line-height: 30.49px;
						text-align: left;
						text-underline-position: from-font;
						text-decoration-skip-ink: none;
						color: #d6ddf8;
					}
				}

				p {
					font-family: Outfit;
					font-size: 16.33px;
					font-weight: 400;
					line-height: 29.94px;
					text-align: left;
					text-underline-position: from-font;
					text-decoration-skip-ink: none;
					color: #ffffffb2;
				}
			}
		}

		.process-new-finally-button {
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;

			button {
				border-radius: 12px;
				padding: 5px 10px;
				background: transparent;
				position: relative;
				color: #ffffffcc;
				/* Simulating gradient border with box-shadow */
				z-index: 1;

				&:before {
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					border-radius: 12px;
					padding: 1.5px; /* Adjust the thickness here */
					background: linear-gradient(90deg, #2025de 0%, #973501 100%);
					-webkit-mask: linear-gradient(#fff 0 0) content-box,
						linear-gradient(#fff 0 0);
					mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
					-webkit-mask-composite: destination-out;
					mask-composite: exclude;
					z-index: -1;
				}
			}
		}
	}
}
