/* SCSS for ProcessNew Component */

$primary-color: #fd5901;
$secondary-color: #ffcda1;
$dark-bg: #000;
$light-bg: #1a1a1a;
$highlight-bg: #292929;
$text-color: #fff;
$text-secondary-color: #ccc;

.process-new-container {
    background-color: $dark-bg;
    padding: 2rem;
    color: $text-color;
    font-family: 'Outfit', sans-serif;

    h1 {
        text-align: center;
        font-size: 2.5rem;
        margin-bottom: 2rem;
        color: $primary-color;
    }
}

.process-steps-wrapper {
    display: flex;
    flex-direction: column;
	align-items: center;
    gap: 2rem;
}

.process-step {
    background: #56565617;
	width: 80%;
    border-radius: 20px;
	border: 4px solid #a7400017;
    padding: 1.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4), inset 0 4px 8px rgba(235, 59, 0, 0.1);
    display: flex;
    flex-direction: column;
	align-items: center;
    gap: 1rem;
    transition: transform 0.3s;

    &:hover {
        transform: scale(1.02);
    }

    .step-header {
        display: flex;
        align-items: center;
        gap: 1rem;

        .step-number {
            background-color: $primary-color;
            color: $text-color;
            padding: 0.5rem 1rem;
            border-radius: 30px;
            font-weight: bold;
        }

        h2 {
            color: $secondary-color;
            font-size: 1.5rem;
        }
    }

    .step-content {
        display: flex;
        flex-direction: column;
		cursor: pointer;
        gap: 1rem;

        .step-img {
            width: 100%;
            border-radius: 15px;
        }

        p {
            font-size: 1rem;
            color: $text-secondary-color;
            line-height: 1.5;
        }

        .step-buttons {
            display: flex;
            gap: 1rem;

            .primary-button {
                background: linear-gradient(90deg, $primary-color, lighten($primary-color, 10%));
                color: $text-color;
                padding: 0.5rem 1rem;
                border: none;
                border-radius: 10px;
                cursor: pointer;
                font-weight: bold;
                transition: background 0.3s;

                &:hover {
                    background: linear-gradient(90deg, lighten($primary-color, 10%), $primary-color);
                }
            }

            .secondary-button {
                background: $highlight-bg;
                color: $primary-color;
                padding: 0.5rem 1rem;
                border: 2px solid $primary-color;
                border-radius: 10px;
                cursor: pointer;
                font-weight: bold;
                transition: color 0.3s, background 0.3s;

                &:hover {
                    background: $primary-color;
                    color: $text-color;
                }
            }
        }
    }
}

.process-two{
	display: flex;
	width: 80%;
	gap: 20px;
}
