.onboarding_switch_wrapper {
  .form-check-input {
    cursor: pointer;

    height: 30px;
    width: 50px;

    border-color: #c2c2c2;
    border-width: 2px;

    // Default state based on theme
    background-image: url("../../../../Images/StartUp/Navbar/OrangeCircle.svg"); // Default for dark theme
    // Add a class to change the default image for light theme
    &.light-theme {
      background-image: url("../../../../Images/StartUp/Navbar/WhiteCircle.svg"); // Default for light theme
    }

    &:not(:focus) {
      // Not focused state
      &:checked {
        // Checked state
        background-image: url("../../../../Images/StartUp/Navbar/WhiteCircle.svg"); // Light theme
      }
    }

    &:focus {
      // Focused state
      background-image: url("../../../../Images/StartUp/Navbar/GreenCircle.svg");
      background-color: transparent; // Make background transparent on focus
      
      &:checked {
        // Checked and focused state
        background-image: url("../../../../Images/StartUp/Navbar/WhiteCircle.svg"); // Light theme
      }
    }

    // Investor theme
    &.investor {
      &:focus {
        background-image: url("../../../../Images/StartUp/Navbar/GreenCircle.svg");
        background-color: transparent; // Make background transparent on focus
        
        &:checked {
          background-image: url("../../../../Images/StartUp/Navbar/WhiteCircle.svg"); // Light theme
        }
      }

      &:checked {
        background-image: url("../../../../Images/StartUp/Navbar/WhiteCircle.svg"); // Light theme
      }
    }
  }
}
