.share_your_thoughts_container {
	position: relative;
	padding: 10px; // Padding around the text
	border-radius: 10px;
	background-color: var(--white-to-grey);
	color: #ff8b4d; // Text color
	z-index: 1;
	font-family: Nunito;
	font-size: 30px;
	font-weight: 800;
	line-height: 58px;
	letter-spacing: -0.015em;
	text-align: left;

	// @media (max-width: 460px) {
	// 	font-size: 1rem;
	// }

	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		border-radius: 10px;
		padding: 1.5px; /* Adjust the thickness here */
		background: linear-gradient(90deg, #973501 0%, #ffffff 100%);
		-webkit-mask: linear-gradient(#fff 0 0) content-box,
			linear-gradient(#fff 0 0);
		mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
		-webkit-mask-composite: destination-out;
		mask-composite: exclude;
		z-index: -1;
	}

	@media (min-width: 576px) {
		border-radius: var(--border-radius);
	}

	p {
		background: linear-gradient(90deg, #973501 0%, #ffffff 100%);
		-webkit-text-fill-color: transparent;
		-webkit-background-clip: text;
		background-clip: text;
		font-size: 1.25rem; /* Corresponding to Bootstrap's fs-5 */

		@media (max-width: 480px) {
			font-size: 0.9rem;
		}
	}

	.orange_button {
		border-radius: 20px;
		background: #fd5901;
		border: 1px solid #fd5901;

		padding: 8px 8px;
		font-size: 14px;
		color: white;
		transition: 0.25s;

		@media (min-width: 768px) {
			padding-inline: 25px;
			font-size: 1rem;
		}

		&:hover {
			background-color: transparent;
			color: #fd5901;
		}

		&:active {
			background-color: #fd5901;
			border: 1px solid #fd5901;
			color: white;
		}
	}
}
