.join-hustlers-club-container {
	width: 100%;
	height: 90px;
	border-radius: 20px;
	position: relative;
	box-sizing: border-box;

	.hustlers-club-background {
		width: 100%;
		height: 100%;
		border-radius: 20px;
		border: 1px solid rgba(255, 255, 255, 0.3);
		// object-fit: cover;
	}

	.join-hustlers-club {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		display: flex;
		gap: 0.75rem;
		align-items: center;
		justify-content: center;
		cursor: pointer;

		.hustlers-club-fox {
			width: 50px;
			height: 50px;
			object-fit: cover;
			border-radius: 50%;
		}

		span {
			font-family: Outfit;
			font-size: 32px;
			font-weight: 800;
			line-height: 35px;
			text-align: left;
			text-underline-position: from-font;
			text-decoration-skip-ink: none;

			background: linear-gradient(90deg, #fd5901 0%, #ffffff 51%, #ff7d55 100%);
			-webkit-text-fill-color: transparent;
			-webkit-background-clip: text;
			background-clip: text;

			@media (max-width: 480px) {
				font-size: 1.5rem;
			}
		}
	}
}
